<% include ../partials/header.ejs %>

<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">Ishratben Vahora</h2>
    <p class="lead">
    Contact Page  
    </p>
  
  
    
  
  </div>
</div>
  <% include ../partials/footer.ejs %>