<!--
  Student Name: Ishratben Vahora
  StudentID: 300986257
  Date: 2019-02-16
-->
<script src="../jquery/dist/jquery.min.js"></script>
  <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../Scripts/app.js"></script>
  
</body>

</html>