<% include ./partials/header.ejs %>
<div class="page text-info" id="aboutMe">
    <div class="container">
  <div class="word_split wrapper">
  <span class="word word1"> Ishrat </span>
  <span class="word word2">Vahora</span>
  <span class="word word7">Education</span>
  <span class="word word8">Technical</span>
  <span class="word word9">Skills </span>
  <span class="word word12">Get In </span>
  <span class="word word13">Touch</span>
    
    <div class="bubble1">
     <span class="the-arrow1"></span>
      HI! <br/> I AM..
   </div>
  <div class="bubble2">
     <span class="the-arrow2"></span>
    <img src="/Assets/Images/about.png"/>
   </div>
  <div class="bubble5">
     <span class="the-arrow5"></span>
    HIGH SCHOOL<br/>
    Lorem Ipsum dolor sit amet<br/>
    May 2004, GPA 1.5<br/><br/>
    UNIVERSITY <br/>
    Lorem Ipsum dolor sit amet<br/>
    July 2007, GPA 1.5
    
   </div>
  <div class="bubble6">
     <span class="the-arrow6"></span>
    SOCIAL COMMITMENT<br/>
    ORGANIZATION<br/>
    CREATIVITY<br/>
    COMMUNICATION<br/>
    TEAMWORK<br/>
   </div>
  <div class="bubble8">
     <span class="the-arrow8"></span>
    GITHUB... ishrat <br/>
    </div>   
</div>
   
</div>      

</div>


<% include ./partials/footer.ejs %>