<!--
  Student Name: Ishratben Vahora
  StudentID: 300986257
  Date: 2019-02-16
-->


<% include ./partials/header.ejs %>
<div class="page text-info" id="aboutMe">
    <div class="container">
  <div class="word_split wrapper">
  <span class="word word1"> Ishrat </span>
  <span class="word word2">Vahora</span>
  <span class="word word7">Education</span>
  <span class="word word8">Technical</span>
  <span class="word word9">Skills </span>
  <span class="word word12">Get In </span>
  <span class="word word13">Touch</span>
    
    <div class="bubble1">
     <span class="the-arrow1"></span>
      HI! <br/> I AM..
   </div>
  <div class="bubble2">
     <span class="the-arrow2"></span>
    <img src="/Assets/Images/about.png"/>
   </div>
  <div class="bubble5">
     <span class="the-arrow5"></span>
    Software Engineering Diploma<br/>
    Centennial College<br/>
    April 2019, GPA 3.8<br/><br/>
    Computer Engineering Degree <br/>
    Gujarat University<br/>
    June 2016, GPA 4.0
    
   </div>
  <div class="bubble6">
     <span class="the-arrow6"></span>
    FullStack<br/>
    Object Oriented Programming<br/>
    Cloud Computing<br/>
    Data Mining<br/>
    Project Management<br/>
   </div>
  <div class="bubble8">
     <span class="the-arrow8"></span>
   <a class="text text-light" target="blank" href="https://github.com/ishrat95">GitHub</a> <br/>
    <a class="text text-light" target="blank" href="https://drive.google.com/open?id=1LxKnNr-SWBdnkZBTcaqluHXZlvXY090t">RESUME</a>
    </div>   
</div>
   
</div>      

</div>


<% include ./partials/footer.ejs %>