<% include ./partials/header.ejs %>

<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">Ishratben Vahora</h2>
    <p class="lead">
     A competent and dedicated individual seeking to become a Fullstack developer where my 2 years Computer Engineering Technology Diploma and 4 years Computer Engineering Degree will be fully utilized.  
    </p>
  
  
    
    <a class="btn btn-dark" href="/about" role="button">About Me</a>
  </div>
</div>
  <% include ./partials/footer.ejs %>