<!--
  Student Name: Ishratben Vahora
  StudentID: 300986257
  Date: 2019-02-16
-->
<% include ./partials/header.ejs %>
<div class="page text-info" id="aboutMe">
    <div class="container">
  <div class="word_split wrapper">
  <span class="word word8">PROJECTS</span>
  <br/>
  <span class="word word2">IELTS</span>
  <br/> 
  <span class="word word8">SpaceWar</span>
<br/>
  <span class="word word13">Habits</span>
    
  <div class="bubbleIelts">
        <span class="the-arrow1"></span>
         IELTS is an mobile app developed in Java using the eclipse IDE. 
         IELTS app uses statical and dynamic data to convert the users marks into equivalent IELTS score.  

      </div>

      <div class="bubbleHabits">
            <span class="the-arrow5"></span>
        Habits is an mobile app developed in Java. Habits is an habit forming app in which the user can register their habit to which the app will keep track on their perfomance and give statitic data to the user. Habits uses two way authentication which is implemented using authentication service of firebase.
           
          </div>    


  <div class="bubbleSpaceCraft">
     <span class="the-arrow6"></span>
    Space War is a web game developed in javaScript. SpaceWar has three levels with varrying difficulties. The user can play the game using the arrow keys on the keypad, by pressing down the space bar the user is able to fire bullets by which he/she can kill the oponent.
   </div>   
</div>
   
</div>      

</div>




<% include ./partials/footer.ejs %>