
<% include ./partials/header.ejs %>
<div class="page text-info" id="aboutMe">
    <div class="container">
  <div class="word_split wrapper">
  <span class="word word8">PROJECTS</span>
  <br/>
  <span class="word word2">IELTS</span>
  <br/> 
  <span class="word word8">Spacecraft</span>
<br/>
  <span class="word word13">Habits</span>
    
  <div class="bubbleIelts">
        <span class="the-arrow1"></span>
         HI! <br/> I AM..
      </div>

      <div class="bubbleHabits">
            <span class="the-arrow5"></span>
           HIGH SCHOOL<br/>
           Lorem Ipsum dolor sit amet<br/>
           May 2004, GPA 1.5<br/><br/>
           UNIVERSITY <br/>
           Lorem Ipsum dolor sit amet<br/>
           July 2007, GPA 1.5
           
          </div>    
  <div class="bubbleSpaceCraft">
     <span class="the-arrow6"></span>
    SOCIAL COMMITMENT<br/>
    ORGANIZATION<br/>
    CREATIVITY<br/>
    COMMUNICATION<br/>
    TEAMWORK<br/>
   </div>   
</div>
   
</div>      

</div>




<% include ./partials/footer.ejs %>