<% include ./partials/header.ejs %>

<div class="page" id="project">
        <div class="container-fluid">
          <h2 id="myproject" class="text-center wordServices word1">PROJECTS</h2>
          <br/>
          <div class="row">
    
            <div class="developer col-lg-4">
              <div class="row">
                <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                  <img class="img-circle" src="Assets/Images/ielts/ielts.jpeg" alt="Icon">
                </div><!-- photo -->
                <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                  <h3>IELTS</h3>
                  <p>Call Center is specifically designed to be the only telus app that you will ever need. </p>
                </div><!-- info -->
              </div> <!-- inner row -->
            </div> <!-- developer -->
    
            <div class="developer col-lg-4">
              <div class="row">
                <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                  <img class="img-circle" src="Assets/images/consultant.png" alt="Icon">
                </div><!-- photo -->
                <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                  <h3>SPACECRAFT</h3>
                  <p>Dr. Chase spends much of her free time helping the local rescue organization find homes for animals, such as Kibbles - a Maine Coon Cat who is part of the large Chase household, including two dogs, three cats, and a turtle.</p>
                </div><!-- info -->
              </div> <!-- inner row -->
            </div> <!-- developer -->
    
            <div class="developer col-lg-4">
              <div class="row">
                <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
                  <img class="img-circle" src="Assets/images/consultant.png" alt="Icon">
                </div><!-- photo -->
                <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
                  <h3>HABITS</h3>
                  <p>Dr. Chase spends much of her free time helping the local rescue organization find homes for animals, such as Kibbles - a Maine Coon Cat who is part of the large Chase household, including two dogs, three cats, and a turtle.</p>
                </div><!-- info -->
              </div> <!-- inner row -->
            </div> <!-- developer -->
          </div><!-- outer row -->
        </div><!-- container -->
      </div>

<% include ./partials/footer.ejs %>