<% include ./partials/header.ejs %>
<div class="page text-dark" id="services">
      <div class="content container">
        <h2 class="text-center wordServices word1">Services</h2>
        
        <br/>
        <div class="row">
          <article class="service col-md-4 col-sm-6 col-xs-12">
            <img class=" icon img-circle" src="../Assets/Images/services/aws.png" alt="Icon">
            <h3 class="wordServicesheader">AWS</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis officiis atque magnam dignissimos itaque. Quo, deserunt? Asperiores quia consequuntur temporibus unde, vero cum ducimus doloremque aliquid, eveniet fugit dolorem sed?</p>
          </article>
  
          <article class="service col-md-4 col-sm-6 col-xs-12">
            <img class="icon img-circle" src="../Assets/Images/services/cSharp.png" alt="Icon">
            <h3 class="wordServicesheader">C#</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro id animi voluptatum pariatur ad. Modi excepturi quidem atque, magni delectus placeat voluptates vitae tenetur beatae culpa? Possimus provident repellendus corrupti.</p>
          </article>
  
          <article class="service col-md-4 col-sm-6 col-xs-12">
            <img class="icon img-circle" src="../Assets/Images/services/java.png" alt="Icon">
            <h3 class="wordServicesheader">Java</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, sapiente sunt nulla aspernatur dicta, quam deserunt quo mollitia doloribus ipsa quos suscipit aut dolorem tempora inventore nemo? Minus, suscipit eveniet!</p>
          </article>
  
          <article class="service col-md-4 col-sm-6 col-xs-12">
            <img class="icon img-circle" src="../Assets/Images/services/fullStack.png" alt="Icon">
            <h3 class="wordServicesheader">Full Stack</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sapiente id cumque iusto, adipisci laboriosam, reprehenderit doloribus consequuntur hic dolor voluptatem quibusdam iure a, recusandae tempore impedit suscipit rem eos!</p>
          </article>
  
          <article class="service col-md-4 col-sm-6 col-xs-12">
            <img class="icon img-circle" src="../Assets/Images/services/javaScript.png" alt="Icon">
            <h3 class="wordServicesheader">Javascript</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ad neque saepe? Rem laudantium suscipit labore dolor iusto id dolores! Quod, architecto repudiandae ea beatae eum nihil sapiente eaque neque.</p>
          </article>
        </div><!-- row -->   
      </div><!-- content container -->
    </div><!-- services page -->

<% include ./partials/footer.ejs %>