<% include ./partials/header.ejs %>
<span style="display:inline-block; width:20;"></span>
<!--
<div class="container">

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="../Assets/Images/services/java.png"
          class="card-img-top"
          HEIGHT="200px"
          width="200px"
          alt="JAVA"
        />
      </div>
    </div>

      <div class="col-sm">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img
              src="../Assets/Images/services/cSharp.png"
              class="card-img-top"
              HEIGHT="200px"
              width="200px"
              alt="JAVA"
            />
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img
              src="../Assets/Images/services/javaScript.png"
              class="card-img-top"
              HEIGHT="200px"
              width="200px"
              alt="JAVA"
            />
          </div>
        </div>
      </div>
    </div>
    
  

        </div>
  </div>

</div>
-->

<div class="container">
    <div class="row">
        <div class="col"><img
          src="../Assets/Images/services/java.png"
          class="card-img-top"
          HEIGHT="200px"
          width="200px"
          alt="JAVA"
        /></div>
        <div class="col"><img
          src="../Assets/Images/services/cSharp.png"
          class="card-img-top"
          HEIGHT="200px"
          width="200px"
          alt="JAVA"
        /></div>
        <div class="col"><img
          src="../Assets/Images/services/javaScript.png"
          class="card-img-top"
          HEIGHT="200px"
          width="200px"
          alt="JAVA"
        /></div>
        </div>
      <div class="w-100" ></div>
      <span style="display:inline-block; width:50;"></span>

      <div class="row">
      <div class="col"><img
        src="../Assets/Images/services/mobile.png"
        class="card-img-top"
        HEIGHT="200px"
        width="200px"
        alt="JAVA"
      /></div>
      <div class="col"><img
        src="../Assets/Images/services/aws.png"
        class="card-img-top"
        HEIGHT="200px"
        width="200px"
        alt="JAVA"
      /></div>
      <div class="col"><img
        src="../Assets/Images/services/fullStack.png"
        class="card-img-top"
        HEIGHT="200px"
        width="200px"
        alt="JAVA"
      /></div>

    </div>
  </div>

<% include ./partials/footer.ejs %>