<% include ../partials/header.ejs %>
<a class="btn btn-dark" href="/project/ielts" role="button">IELTS</a>
<a class="btn btn-dark" href="/project/habits" role="button">Habits</a>
<a class="btn btn-dark" href="/project/spaceWar" role="button">Space War</a>

<% include ../partials/footer.ejs %>